[Unit]
Description=Core Manager Service for Raspberry Pi
After=network-online.target

[Service]
ExecStart=/usr/local/bin/coremanager
User=pi
Group=pi
Restart=on-failure
RestartSec=5s
StartLimitBurst=5
StartLimitIntervalSec=600s
WatchdogSec=10
Type=notify

[Install]
WantedBy=multi-user.target