[Unit]
Description=Core Manager Service for Raspberry Pi
After=network-online.target dbus.socket
Wants=network-online.target
Requires=dbus.socket

[Service]
ExecStart=/usr/local/bin/coremanager
User=pi
Group=pi
Restart=on-failure
RestartSec=5s
StartLimitBurst=5
WatchdogSec=10
Type=notify

[Install]
WantedBy=multi-user.target