[Unit]
Description=Record Manager Service for Raspberry Pi
After=coremanager.service
Requires=coremanager.service

[Service]
ExecStart=/usr/local/bin/recordmanager
User=pi
Group=pi
Restart=always
RestartSec=5s
StartLimitBurst=5
StartLimitIntervalSec=600s
WatchdogSec=10
Type=notify

[Install]
WantedBy=multi-user.target