[Unit]
Description=Hardware Manager Service
After=network.target
# After=coremgr.service

[Service]
ExecStart=/usr/local/bin/hardwaremanager
Restart=always
User=pi

[Install]
WantedBy=multi-user.target